@import url(http://fonts.googleapis.com/css?family=Roboto:100,400italic,400,300);

a{
	color: #3e92ce;
	text-decoration: underline;
	transition: all 500ms;
}

a:hover{
	color: #1c70ac;
}

button{
	margin: 0;
	padding: 6px 14px 7px 14px;
	font-size: 13px;
	line-height: 15px;
	border-radius: 3px;
	border: 1px solid #d0d4da;
	background-color: #f4f6f7;
}

button:hover{
	background-color: #ededed;
}

button:disabled{
	opacity: 0.6;
}

button:disabled:hover{
	background-color: #f4f6f7;
}

button.primary{
	color: #ffffff;
	border: 1px solid #0b6f9b;
	background-color: #3e92ce;
}

button.primary:hover{
	background-color: #2d81bd;
}

button.primary:disabled:hover{
	background-color: #3e92ce;
}

button.destroy{
	color: #ffffff;
	border: 1px solid #a23131;
	background-color: #b93c3c;
}

button.destroy:hover{
	background-color: #981e1e;
}

button.destroy:disabled:hover{
	background-color: #b93c3c;
}

button.create{
	color: #ffffff;
	border: 1px solid #64a043;
	background-color: #6cbc40;
}

button.create:hover{
	background-color: #49981e;
}

button.create:disabled:hover{
	background-color: #6cbc40;
}

label{
	font-weight: bold;
	color: #626970;
}

textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"]{
	width: 100%;
	margin: 3px 7px 2px 0;
	padding: 6px 9px 5px;
	font-size: 14px;
	line-height: 14px;
	background: #fff;
	border: 1px solid #c4c6c6;
	border-top-color: #a8a9aa;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #f0f0f0, 0 0 0 1px rgba(255,255,255, 0.5);
	cursor: text;
}

textarea:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="number"]:hover,
input[type="password"]:hover{
	border: 1px solid #4ea6e5;
	
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="password"]:focus{
	border: 1px solid #1e8dc6;
	border-top-color: #327cc7;
	border-bottom-color: #4ea6e5;
}

textarea[disabled],
textarea[disabled]:hover,
input[type="text"][disabled],
input[type="text"][disabled]:hover,
input[type="email"][disabled],
input[type="email"][disabled]:hover,
input[type="url"][disabled],
input[type="url"][disabled]:hover,
input[type="number"][disabled],
input[type="number"][disabled]:hover,
input[type="password"][disabled],
input[type="password"][disabled]:hover{
	background-color: #f0f2f3;
	border: 1px solid #c4c6c6;
	border-top-color: #a8a9aa;
	color: #959ba2;
	box-shadow: inset 0 1px 0 0 #e2e4e5, 0 0 0 1px #fff;
	cursor: default;
}

textarea.error,
input[type="text"].error,
input[type="email"].error,
input[type="url"].error,
input[type="number"].error,
input[type="password"].error{
	color: #bf2b1b;
	border: 1px solid #bf2b1b;
}

textarea.error:hover,
input[type="text"].error:hover,
input[type="email"].error:hover,
input[type="url"].error:hover,
input[type="number"].error:hover,
input[type="password"].error:hover,
input[type="text"].error:focus,
input[type="email"].error:focus,
input[type="url"].error:focus,
input[type="number"].error:focus,
input[type="password"].error:focus{
	border: 1px solid #ff4040;
}

.custom-select button{
	display: block;
	float: left;
	clear: both;
	white-space: nowrap;
	overflow: hidden;
	text-transform: lowercase;
	text-overflow: ellipsis;
	padding: 6px 20px 7px 8px;
	background-image: url("../images/icon-select-pointer.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 8px;
}

.custom-select button:first-letter{
	text-transform: uppercase;
}

.job-actions .custom-select button{
	min-width: 85px;
	text-align: left;
}

.custom-select ul{
	position: relative;
	display: none;
	float: left;
	clear: both;
	white-space: nowrap;
	max-height: 150px;
	overflow: auto;
	overflow-x: hidden;
	border-radius: 3px;
	border: 1px solid #d0d4da;
	background-color: #f4f6f7;
	box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.1);
	z-index: 999;
}

.custom-select ul.job-status{
	position: absolute;
	margin: 34px 0 0 3px;
}

.custom-select ul.show{
	display: block;
}

.custom-select ul li{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	line-height: 24px;
	text-indent: 10px;
	padding: 0 16px 0 0;
	text-transform: capitalize;
}

.custom-select ul li:hover{
	color: #ffffff;
	background-color: #3e92ce;
}

.custom-select ul li.divider{
	width: calc(100% - 30px);
	margin-left: 7px;
	line-height: 0;
	height: 2px;
	border-bottom: 1px solid #d0d4da;
}

.custom-select ul li.divider:hover,
.custom-select ul li.disabled:hover{
	background-color: #f4f6f7;
}

.custom-select ul li.disabled{
	color: #cccccc;
}

.rbc-logo{
	position: absolute;
	display: block;
	float: left;
	bottom: 18px;
	left: 50%;
	margin: 0 0 0 -80px;
	width: 160px;
	height: 45px;
	background-image: url("../images/logo-rbc-black.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 160px 45px;
}

@media screen and (max-height: 700px){
	.rbc-logo{
		display: none;
	}
}



#brushfire{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	min-width: 320px;
	height: 100%;
	overflow: hidden;
}

.app{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.app.background{
	background-image: url("../images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#app-head{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 40px;
	overflow: hidden;
}

.heading{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	font-weight: lighter;
	white-space: nowrap;
	overflow: hidden;
	background-color: rgba(255,170,0, 0.8);
}


.form-container{
	position: absolute;
	display: block;
	float: left;
	width: 320px;
	height: 380px;
	top: 0;
	left: 50%;
	margin: 150px 0 0 -160px;
	overflow: hidden;
}

@media screen and (max-width: 640px){
	.form-container{
		width: 300px;
		height: 390px;
		margin: 70px 0 0 -150px;
	}
}

.form-container .login-form{
	display: block;
	float: left;
	width: 320px;
	height: 340px;
	overflow: hidden;
	background-color: rgba(0,153,205, 0.8);
	background-color: rgba(255,170,0, 0.8);
}

.form-container .login-form .logo{
	display: block;
	float: left;
	clear: both;
	margin: 20px 30px;
	width: calc(100% - 60px);
	height: 80px;
	background-image: url("../images/logo-bf-wide.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 80px;
}


.form-container .login-form input[type="email"],
.form-container .login-form input[type="password"]{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 80px);
	margin: 4px 30px;
}

.form-container .login-form input[type="email"]:hover,
.form-container .login-form input[type="password"]:hover{
	border-color: #e49904;
}

.form-container button{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 60px);
	margin: 15px 30px;
	color: #ffffff;
	background-color: #068dba;
	background-color: #e49904;
	border: 1px solid #ffffff;
	font-size: 14px;
	-webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

.form-container .login-form button#login{
	background-color: #068dba;
	background-color: #e49904;
	border: 1px solid #ffffff;
	font-size: 14px;
}

.form-container .login-form button#login:hover{
	background-color: #096d8e;
	background-color: #c17804;
}

.form-container .login-form a#forgot-password{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 60px);
	margin: 10px 30px;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
}

@media screen and (max-width: 640px){
	.form-container .login-form{
		clear: both;
		width: 100%;
		height: 280px;
	}

	.form-container .login-form .logo{
		margin: 10px 30px;
	}
}

.form-container .link{
	display: block;
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
	text-align: center;
	color: #666666;
	text-decoration: underline;
	-webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

.form-container .link:hover{
	color: #222222;
}

.form-container .signup-form .logo{
	display: block;
	float: left;
	clear: both;
	margin: 20px 30px;
	width: calc(100% - 60px);
	height: 80px;
	background-image: url("../images/logo-bf-wide.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 80px;
}

.form-container .signup-form{
	display: block;
	float: left;
	width: 600px;
	height: 340px;
	overflow: hidden;
	background-color: rgba(0,153,205, 0.8);
	background-color: rgba(255,170,0, 0.8);
}

.form-container .signup-form input{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 80px);
	margin: 4px 30px;
}

.form-container .signup-form input:hover{
	border-color: #e49904;
}

@media screen and (max-width: 640px){
	.form-container .signup-form{
		clear: both;
		width: 100%;
	}

	.form-container .signup-form .logo{
		margin: 10px 30px;
	}
}

.form-container .signup-form button#signup{
	background-color: #068dba;
	background-color: #e49904;
	border: 1px solid #ffffff;
	font-size: 14px;
}

.form-container .signup-form button#signup:hover{
	background-color: #096d8e;
	background-color: #c17804;
}



/********************************/
/*Help Section Start            */
/********************************/

#help-icon{
	position: absolute;
	display: block;
	float: left;
	clear: both;
	top: 560px;
	left:50%;
	margin: 0 0 0 -25px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: rgba(255,170,0, 0.8);
	text-align: center;
	line-height: 42px;
	color: #ffffff;
	font-size: 24px;
	-webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

#help-icon:hover{
	background-color: #e49904;
}

@media screen and (max-width: 640px){
	#help-icon{
		top: 400px;
	}
}


#app-help {
	position: absolute;
	display: block;
	width: 320px;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    right: -320px;
    text-align: left;
    color: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

#app-help.show {
    right: 0;
}

#app-help header {
    background-color: #000000;
    display: block;
    height: 30px;
    margin: 0;
    min-width: 320px;
    position: relative;
    width: 100%;
    z-index: auto;
    padding: 6px 10px 5px 10px;
}


#app-help header label {
    color: #fff;
    display: inline-block;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#app-help header #close-help {
    float: right;
    height: 30px;
    width: 30px;
    margin: -4px 10px 0 0;
    text-align: center;
    background: url("../images/icon-close-help.png") no-repeat scroll 0 10px #000000;
}


#app-help #app-help-content {
	padding: 15px 24px 15px 24px;
}


#app-help #app-help-content h4 {
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

#app-help #app-help-content h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: normal;
    color: #fff;
}

#app-help #app-help-content p {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	margin: 0 0 15px 0;
	color: #fff;
}

#app-help #app-help-content a#contactus {
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
  display: block;
}

#app-help #app-help-content a#phone,
#app-help #app-help-content a#customercare,
#app-help #app-help-content a#support {
  color: #fff;
  text-decoration: none;
}

/********************************/
/*Help Section End              */
/********************************/



.navigation{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #39454c;
}


#nav-logo{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background-image: url("../images/logo-bf-80-white.png");
	background-position: center;
	background-size: 24px auto;
	background-repeat: no-repeat;
}

#nav-button{
	display: none;
	float: left;
	padding: 0 10px 0 0;
	line-height: 40px;
	font-size: 14px;
	color: #e2e2e2;
	text-transform: capitalize;
	background-image: url("../images/icon-nav-pointer.png");
	background-position: right 26px;
	background-repeat: no-repeat;
	background-size: 4px 4px;
}

#nav-menu{
	display: block;
	float: left;
}

#nav-menu li{
	display: block;
	float: left;
	margin: 0 10px;
	line-height: 40px;
	font-size: 14px;
	color: #e2e2e2;
}

#nav-menu li:hover{
	color: #ffffff;
}

@media screen and (max-width: 600px){
	#nav-button{
		display: block;
	}

	#nav-menu{
		position: absolute;
		display: none;
		top: 40px;
		left: 20px;
		z-index: 999;
	}

	#nav-menu li{
		clear: both;
		width: 120px;
		text-indent: 14px;
		background-color: #39454c;
	}
}

#nav-icons{
	display: block;
	float: right;
}

#nav-icons li{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin: 5px 0px;
}

#nav-icons li#messages{
	background-image: url("../images/icon-messages.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px auto;
}

#nav-icons li#settings{
	background-image: url("../images/icon-settings.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px auto;
}

.nav-flyout{
	position: absolute;
	display: none;
	float: left;
	top: 40px;
	right: 0;
	background-color: #39454c;
}

.nav-flyout li{
	display: block;
	float: left;
	clear: both;
	margin: 0 15px;
	line-height: 40px;
	font-size: 12px;
	color: #e2e2e2;
}

.nav-flyout li:hover{
	color: #ffffff;
}

#nav-heading{
	display: block;
	float: left;
	margin: 0 0 0 5px;
	line-height: 40px;
	color: #ffffff;
	font-size: 14px;
}


#app-body{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: calc(100% - 40px);
	overflow: hidden;
}

.content {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

#sub-nav{
	display: block;
	float: left;
	width: 100%;
	height: 30px;
	background-color: #eceff2;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}

#breadcrumb{
	display: block;
	float: left;
}

#breadcrumb li{
	display: block;
	float: left;
	color: #6e7f80;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	text-shadow: 0 1px 0 #fff;
	text-transform: capitalize;
	padding: 0 5px 0 10px;
}

#breadcrumb li:last-child{
	color: #2d3c4b;
}

#page-actions{
	display: block;
	float: right;
}

#page-actions li{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
}

#page-actions li#filter{
	background-image: url("../images/icon-filter.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px auto;
}

#page-actions li#filter:hover{
	background-image: url("../images/icon-filter-hover.png");
}


#toolbar{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 20px);
	height: 30px;
	margin: 20px 10px;
}

#toolbar button{
	display: block;
	float: left;
	margin: 0 5px 0 0;
}

#toolbar #archive-candidates{
	
}

@media screen and (max-width: 510px){
	#toolbar #send-message{
		display: none;
	}

	#toolbar #archive-candidates{
		display: none;
	}

	#toolbar.hideable-toolbar{
		display: none;
	}
}





#app-toast{
	position: absolute;
	display: block;
	float: left;
	width: 100%;
	height: 30px;
	top: -50px;
	line-height: 30px;
	text-align: center;
	font-weight: lighter;
	font-size: 16px;
	color: #e6e6e6;
	background-color: rgba(0,0,0,0.8);
	white-space: nowrap;
	overflow: hidden;
	z-index: 999;

	-webkit-transition: top 300ms;
    -moz-transition: top 300ms;
    -o-transition: top 300ms;
    -ms-transition: top 300ms;
    transition: top 300ms;
}

#app-toast.error{
	background-color: rgba(190,37,37,0.8);
}

#app-toast.warning{
	background-color: rgba(224,179,25,0.8);
}

#app-toast.success{
	background-color: rgba(126,187,10,0.8);
}

#app-toast.show{
	top: 70px;
}

#app-toast.show-on-portal{
	top: 40px;
}

@media screen and (max-width: 640px){
	#app-toast{
		font-size: 14px;
	}
}





.app-alert{
	position: absolute;
	display: none;
	float: left;
	width: 324px;
	min-height: 150px;
	left: 50%;
	top: 50%;
	border-radius: 2px;
	margin: -75px 0 0 -162px;
	background-color: #ebedee;
	border: 1px solid #585c5f;
	box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.45);
	z-index: 99999;
	overflow: hidden;
}

@media screen and (max-width: 640px){
	.app-alert{
		width: 300px;
		margin: -75px 0 0 -150px;
	}
}

.app-alert.show{
	display: block;
}

.app-alert .alert-title{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	color: #3e4246;
	font-size: 18px;
	line-height: 44px;
	border-bottom: 1px solid #c0c1c5;
}

.app-alert .alert-message{
	display: block;
	float: left;
	width: calc(100% - 20px);
	margin: 20px 10px;
	text-align: center;
	color: #595f66;
	font-size: 12px;
	line-height: 14px;
}

.app-alert .alert-body{
	display: block;
	float: left;
	clear: both;
	margin: 10px 0;
	width: calc(100% - 20px);
}

.app-alert .alert-body input.jobURL{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 23px);
	margin: 0 13px;
}

.app-alert .alert-action{
	display: block;
	float: left;
	width: 100%;
	margin: 0 0 12px 0;
}

.app-alert .alert-action button{
	width: 140px;
	margin: 5px 0 0 13px;
}

.app-alert .alert-action.single button{
	width: calc(100% - 23px);
	margin: 0 12px;
	
}

@media screen and (max-width: 640px){
	.app-alert .alert-action button{
		width: 124px;
		margin: 5px 0 0 15px;
	}

	.app-alert .alert-action.single button{
		
	}
}

.app-alert.referral-list{
	height: 326px;
	margin-top: -163px;
	border:1px solid #cccccc;
	box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.25);
}

.app-alert.referral-list .alert-segmented-control{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 40px);
	height: 30px;
	margin: 20px 20px 10px 20px;
}

.app-alert.referral-list .alert-segmented-control .tab{
	display: block;
	float: left;
	width: 140px;
	margin: 0;
	padding: 6px 0 7px 0;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #e8eaeb;
	box-shadow: inset 0 4px 10px -3px rgba(0,0,0,0.08), 0 1px 0 0 rgba(255,255,255,0.75);
}

.app-alert.referral-list .alert-segmented-control .tab span{
	color: #999999;
}

.app-alert.referral-list .alert-segmented-control .tab.unselected{
	background-color: #f4f5f6;
	box-shadow: inset 0 -4px 10px -3px rgba(0,0,0,0.08), 0 1px 0 0 rgba(255,255,255,0.75);
}

.app-alert.referral-list .alert-segmented-control .tab.left{
	float: left;
	width: 141px;
	border-right:0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

@media screen and (max-width: 640px){
	.app-alert.referral-list .alert-segmented-control .tab{
		width: 128px;
	}

	.app-alert.referral-list .alert-segmented-control .tab.left{
		width: 129px;
	}
}

.app-alert.referral-list .alert-segmented-control .tab.right{
	float: right;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.app-alert.referral-list .alert-segmented-control .tab:hover{
	box-shadow: inset 0 -4px 10px -3px rgba(0,0,0,0.08), 0 1px 0 0 rgba(255,255,255,0.75);
	background-color: #f4f5f6;
}

.app-alert.referral-list .alert-body{
	width: 100%;
}

.app-alert.referral-list .alert-body .list{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	max-height: 280px;
	overflow: auto;
}

#referrals-segment{
	display: block;
	float: left;
	width: 100%;
	height: 160px;
	overflow: auto;
}

#pending-segment{
	display: none;
	float: left;
	width: 100%;
	height: 160px;
	overflow: auto;
}

.app-alert.referral-list ul.referrals-list{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 20px);
	margin: 0 0 0 10px;
}

.app-alert.referral-list ul.referrals-list li{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px dotted #dcdcdc;
}

.app-alert.referral-list ul.referrals-list li .picture{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background-color: #fafbfc;
	border: 1px solid #e2e1e3;
	border-radius: 20px;
	background-image: url("../images/default-avatar.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px auto;
}

.app-alert.referral-list ul.referrals-list li .info{
	display: block;
	float: left;
}

.app-alert.referral-list ul.referrals-list li .info .name{
	display: block;
	float: left;
	clear: both;
	width: 240px;
	margin: 7px 0 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #2f3b4b;
}

.app-alert.referral-list ul.referrals-list li .info .position{
	display: block;
	float: left;
	clear: both;
	width: 240px;
	margin: 2px 0 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #969ba2;
}

.app-alert.referral-list ul.referrals-list li .empty{
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	color: #aaaaaa;
}



#app-modal{
	position: absolute;
	display: none;
	float: left;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	opacity: 0.4;
	background-color: #0f161a;
	background-image: url("../images/large-velocity-load.gif");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 69px;
	z-index: 9999;
}


#app-modal.show{
	display: block;
}





.job-information{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 0px;
	opacity: 0;
	border-top: 1px dotted #bbbbbb;
	background-color: #ffffff;
	overflow: hidden;
	-webkit-transition: all 500ms;
	   -moz-transition: all 500ms;
	     -o-transition: all 500ms;
	        transition: all 500ms;
}

#add-job.job-information{
	width: calc(100% - 20px);
	margin: 0 0 0 10px;
}

.job-information.show{
	opacity: 1;
	height: 350px;
}

.job-information > .details{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 300px;
}

.job-information > .details > .input-container{
	display: block;
	float: left;
	width: 75px;
	height: 60px;
	margin: 10px 0 0 0;
}

.job-information > .details > .input-container.position{
	width: 130px;
}

.job-information > .details > .input-container.description{
	clear: both;
	width: 300px;
	height: 120px;
}

.job-information > .details > .input-container.description textarea{
	display: block;
	float: left;
	clear: both;
	margin: 5px 0;
	width: 280px;
	height: 80px;
}

.job-information > .details > .input-container.referral-bonus{
	clear: both;
	width: 120px;
}

.job-information > .details > .input-container.referral-bonus.hidden{
	display: none;
}

.job-information > .details > .input-container > label{
	display: block;
	float: left;
	clear: both;
	margin: 0 0 5px 0;
}

.job-information > .details > .input-container > label + .dollar{
	position: relative;
	display: block;
	float: left;
	top: 30px;
	left: -24px;
	font-size: 12px;
	color: #626970;
}

.job-information > .details > .input-container.referral-bonus > label + .dollar{
	left: -79px;
}

.job-information > .details > .input-container > input.wage,
.job-information > .details > .input-container > input.bonus{
	width: 45px;
	text-indent: 8px;
}

.job-information > .details > .input-container .custom-select{
	display: block;
	float: left;
	clear: both;
	margin: 2px 0 0 0;
}

.job-information > .details > .input-container .custom-select button{
	width: 90px;
	max-width: 90px;
	text-align: left;
}

.job-information > .details > .input-container.position .custom-select button{
	width: 120px;
	max-width: 120px;
	text-align: left;
}

.job-information > .actions{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 50px;
	background-color: #f7fafc;
	border-top: 1px dotted #bbbbbb;
}

.job-information > .actions button{
	margin: 10px 0 0 10px;	
}






.hourly-profile{
	display: block;
	float: left;
	clear: both;
	opacity: 0;
	width: 100%;
	max-height: 0;
	border-top: 1px solid #c4d6e6;
	-webkit-transition: all 500ms;
	   -moz-transition: all 500ms;
	     -o-transition: all 500ms;
	        transition: all 500ms;
}

.hourly-profile.show{
	opacity: 1;
    max-height:1000px;

}

.hourly-profile > .about-section{
	display: block;
	float: left;
	margin: 10px 0 10px 75px;
	max-width: 440px;
	width: 100%;
	height: 150px;
}

.hourly-profile > .history-section{
	display: block;
	float: left;
	margin: 10px 0 10px 20px;
	max-width: 440px;
	width: 100%;
	height: 150px;
}

@media screen and (max-width: 1010px){
	.hourly-profile > .about-section{
		margin: 10px;
		clear: both;
		max-width: 100%;
		width: calc(100% - 20px);
		height: auto;
	}

	.hourly-profile > .history-section{
		margin: 10px;
		clear: both;
		max-width: 100%;
		width: calc(100% - 20px);
		height: auto;
	}
}

.hourly-profile > .about-section label,
.hourly-profile > .history-section label{
	clear: both;
}


.hourly-profile > .about-section > .about{
	display: block;
	float: left;
	clear: both;
	color: #303c4b;
	padding: 15px;
	margin: 5px 0;
	line-height: 16px;
	border:1px solid #d5d7db;
	background-color: #ffffff;
}

.hourly-profile > .history-section > ul.work-history{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	margin: 5px 0;
	border: 1px solid #d5d7db;
	background-color: #ffffff;
}

.hourly-profile > .history-section > ul.work-history li{
	display: block;
	float: left;
	margin: 0 10px;
	width: calc(100% - 20px);
	height: 64px;
	border-bottom:1px solid #d5d7db;
}

.hourly-profile > .history-section > ul.work-history li:last-child{
	border: none;
}

.hourly-profile > .history-section > ul.work-history li .employer-logo{
	display: block;
	float: left;
	width: 54px;
	height: 54px;
	margin: 4px;
	border-radius: 27px;
	border: 1px solid #e1e1e1;
	background-color: #fafbfc;
	background-image: url("../images/default-restaurant.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px auto;
	overflow: hidden;
}

.hourly-profile > .history-section > ul.work-history li .employer-logo img{
	width: 54px;
	height: 54px;
}

.hourly-profile > .history-section > ul.work-history li .employment-info{
	display: block;
	float: left;
	margin: 14px 0 0 4px;
}

.hourly-profile > .history-section > ul.work-history li .employment-info .employer-name{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	line-height: 16px;
	font-weight: bold;
	color: #2f3b4b;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hourly-profile > .history-section > ul.work-history li .employment-info .employer-name span{
	font-weight: normal;
}

.hourly-profile > .history-section > ul.work-history li .employment-info .employment-date{
	display: block;
	float: left;
	clear: both;
	line-height: 16px;
	color: #969ba3;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.flyout{
	position: fixed;
	display: none;
	float: left;
	top: 70px;
	right: -320px;
	width: 320px;
	border: 1px solid #ced2d9;
	box-shadow: inset 1px 0 0 0 rgba(255,255,255, 0.5);
	background: #f7f8f8;
	z-index: 999;
}

.flyout.show{
	display: block;
	right: 0px;
}

.flyout h1{
	display: block;
	float: left;
	clear: both;
	margin: 10px;
	font-size: 14px;
	line-height: 14px;
	color: #444444;
}

.flyout a.clear-all{
	display: block;
	float: left;
	clear: both;
	margin: 4px 10px 10px 10px;
}

.flyout > .filter-section{
	display: block;
	float: left;
	width: 100%;
	clear: both;
	border-bottom: 1px solid #ced2d9;
	padding: 0 0 10px 0;
	box-shadow: 0 1px #ffffff;
}

.flyout > .filter-section > label{
	float: left;
	clear: both;
	margin: 10px;
}

.flyout > .filter-section .checkbox-group{
	display: block;
	float: left;
	clear: both;
}

.flyout > .filter-section .checkbox-group li{
	display: block;
	float: left;
	clear: both;
	margin: 2px 10px;
}

.flyout > .filter-section .checkbox-group label{
	text-transform: capitalize;
	margin: 0 4px;
	font-weight: normal;
}

.flyout > .button-group{
	display: block;
	float: left;
	clear: both;
	margin: 10px;
}

.flyout > .button-group button{
	margin: 0 10px 0 0;
}


#logo-file{
	position: absolute;
	left: -2000px;
}

.profile-info{
	display: block;
	float: left;
	width: 404px;
	border-right: 1px dotted #dcdcdc;
}

.profile-info .employer-profile-container{
	display: block;
	float: left;
	width: calc(100% - 21px);
	margin: 10px 0 10px 10px;
	border-bottom: 1px dotted #dcdcdc;
}

.profile-info .employer-profile-container .logo-container{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 85px;
	margin: 0 0 10px 0; 
}

.profile-info .employer-profile-container .logo-container .logo{
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border: 1px solid #e1e1e1;
	background-color: #fafbfc;
	background-image: url("../images/default-restaurant.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60px auto;
	overflow: hidden;
}

.profile-info .employer-profile-container .logo-container .logo img{
	width: 80px;
	height: 80px;
}

.profile-info .employer-profile-container .logo-container #logo-action{
	float: left;
	margin: 25px 15px;
}

.profile-info .employer-profile-container .field-container{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 50px;
	margin: 0 0 10px 0; 
}

.profile-info .employer-profile-container .field-container.address{
	height: 85px;
}

.profile-info .employer-profile-container .field-container.about{
	height: 100px;
}

.profile-info .employer-profile-container .field-container.small{
	clear: none;
	width: 95px;
	margin: 0 0 10px 0; 
}

.profile-info .employer-profile-container .field-container.small .custom-select button{
	width: 85px;
	text-align: left;
	margin-top: 2px;
}

.profile-info .employer-profile-container .field-container.one-third{
	clear: none;
	width: 143px;
	margin: 0 0 10px 0; 
}

.profile-info .employer-profile-container .field-container.two-third{
	clear: none;
	width: 237px;
	margin: 0 0 10px 0; 
}

.profile-info .employer-profile-container .field-container label{
	display: block;
	float: left;
	clear: both;
	margin: 0 0 5px 0;
}

.profile-info .employer-profile-container .field-container input[type="text"]{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 30px);
}

.profile-info .employer-profile-container .field-container textarea{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 30px);
	height: 50px;
}

.profile-info .employer-profile-container > .foot{
	display: block;
	float: left;
	clear: both;
	margin: 10px 5px;
	color: #36679a;
}

.profile-info .yelp-rating{
	display: block;
	float: left;
	clear: both;
	margin: 0 20px;
	width: 200px;
	height: 20px;
	background-image: url("../images/logo-yelp.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 20px;
	overflow: hidden;
}

.profile-info .yelp-rating img{
	margin: 6px 0 0 44px;
}

.profile-admins{
	display: block;
	float: left;
	width: 600px;
	margin: 0 0 0 10px;
	border-bottom: 1px dotted #dcdcdc;
}

.profile-admins > .foot{
	display: block;
	float: left;
	clear: both;
	margin: 15px;
	color: #36679a;
}

.admin-container{
	display: block;
	float: left;
	width: 280px;
	height: 80px;
	margin: 10px 10px;
}

.admin-container.add{
	display: none;
	width: 280px;
}

.admin-container .picture{
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border: 1px solid #e1e1e1;
	background-color: #fafbfc;
	background-image: url("../images/default-avatar.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80px auto;
	overflow: hidden;
}

.admin-container .picture img{
	width: 80px;
	height: 80px;
}


.admin-container .actions{
	display: block;
	float: left;
	margin: 0 10px;
	height: 80px;
}

.admin-container .actions > .name{
	display: block;
	float: left;
	margin: 14px 0 5px 2px;
	width: 175px;
	font-size: 14px;
	font-weight: bolder;
	color: #2f3b4b;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.admin-container .actions > .email{
	display: block;
	float: left;
	margin: 10px 0 5px 2px;
	width: 175px;
	overflow: hidden;
}


.admin-container .actions > .email input{
	width: calc(100% - 20px);
}

.admin-container .actions > button{
	float: left;
	clear: both;
	margin-left: 1px;
}

@media screen and (max-width: 1010px){
	.profile-info{
		clear: both;
		width: calc(100% - 20px);
		margin: 0 0 20px 0;
		border-right: none;
	}

	.profile-admins{
		clear: both;
		width: calc(100% - 20px);
	}	

	.profile-info .employer-profile-container{
		width: calc(100% - 4px);

	}

	.profile-info .employer-profile-container .field-container{
		width: 484px;
	}

	.profile-info .employer-profile-container .field-container.one-third{
		clear: left;
		width: 143px;
	}

	.profile-info .employer-profile-container .field-container.zip{
		clear: right;
	}

}

@media screen and (max-width: 510px){

	.profile-info .employer-profile-container .field-container{
		width: calc(100% - 0px);
	}

	.profile-info .employer-profile-container .field-container.one-third{
		clear: both;
		width: calc(100% - 0px);
	}

	.profile-info .employer-profile-container .field-container.two-third{
		clear: both;
		width: calc(100% - 0px);
	}

	.profile-info .employer-profile-container .field-container.zip{
		width: calc(100% - 95px);
		clear: right;
	}

	.profile-info .employer-profile-container .field-container input[type="text"],
	.profile-info .employer-profile-container .field-container textarea{
		width: calc(100% - 15px);
	}

}

.settings-heading{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	margin: 0 10px;
	font-size: 16px;
	font-weight: bolder;
	color: #2f3b4b;
}








/* Standalone Jobs Page */

#job-wrapper{
	position: absolute;
	display: block;
	float: left;
	clear: both;
	width: 600px;
	height: 700px;
	top: 108px;
	left: 50%;
	margin-left: -300px;
}

#job-card{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 590px;
	background-color: #fafafa;
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.35);
	overflow: hidden;
}

#job-map{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 8px);
	height: 188px;
	margin: 3px;
	margin-bottom: 0;
	background-color: #f2f2f2;
	border:1px solid #d9d9d9;
	overflow: hidden;
}

#job-map .fold{
	position: relative;
	display: block;
	float: left;
	width: 197px;
	height: 188px;
	z-index: 1;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#05000000',GradientType=1 ); /* IE6-9 */
}

#job-map .fold.center{
	width: 198px;
}

#job-map img{
	position: absolute;
	display: block;
	float: left;
	width: 592px;
}

#job-details{
	position: relative;
	display: block;
	float: left;
	width: calc(100% - 8px);
	height: 230px;
	margin: 0 3px;
	border:1px solid #d9d9d9;
	border-bottom-color: #e9e9e9;
	border-top: 0;
	background-image: url("../images/background-noise.jpg");
}

#job-details:after{
	content: "";
	position: absolute;
	z-index: 0;
	box-shadow: 0 0 40px rgba(0,0,0,0.15);
	bottom: 3px;
	width: 100%;
	height: 25%;
	border-radius: 100%;
	left: 0;
	clip: rect(59px,700px,85px,0px);
}

#job-logo{
	position: relative;
	display: block;
	float: left;
	clear: both;
	width: 110px;
	height: 110px;
	margin: -55px 0 0 240px;
	border-radius:55px;
	border: 1px solid #cfcfcf;
	background-color: #fafbfc;
	background-image: url("../images/default-restaurant.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80px auto;
	overflow: hidden;
	z-index: 2;
}

#job-logo img{
	width: 110px;
	height: 110px;
}

#job-title{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 60px;
	line-height: 90px;
	font-family: "Roboto";
	font-style: thin;
	font-weight: 100;
}

#job-restaurant{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #555555;
	line-height: 28px;
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
}

#job-address{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #969696;
	line-height: 18px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: lighter;
}

#job-apps{
	display: block;
	float: left;
	width: calc(100% - 8px);
	height: 161px;
	margin: 0 3px;
	border:1px solid #d9d9d9;
	border-top: 0;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#job-message{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	margin: 25px 0;
	text-align: center;
	font-size: 20px;
	color: #555555;
	line-height: 20px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: lighter;
}

#job-apps #google-play,
#job-apps #app-store{
	display: block;
	float: left;
	width: 160px;
	height: 54px;
	margin: 0 40px 0 118px;
	background-image: url("../images/icon-google.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 160px auto;
}

#job-apps #app-store{
	margin: 0;
	background-image: url("../images/icon-apple.png");
}

#job-apps.mobile #google-play,
#job-apps.mobile #app-store{
	margin: 0 0 0 216px;
}

#job-footer{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 110px;
}

#job-footer #hsp-logo{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 64px;
	background-image: url("../images/logo-hsp.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 152px auto;
	border-bottom: 1px solid rgba(255,255,255,0.15);
}

#job-footer #footer-links{
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

#job-footer #footer-links a{
	display: block;
	float: left;
	margin: 0 4px;
	font-size: 13px;
	color: rgba(255,255,255,0.6);
	line-height: 44px;
	text-decoration: none;
}

#job-footer #footer-links a:first-child{
	margin-left: 0;
}

#job-footer #footer-links a:last-child{
	margin: 0;
	float: right;
}

#job-footer #footer-links a:hover{
	color: #ffffff;
}

@media screen and (max-width: 650px){

	#job-wrapper{
		width: 300px;
		height: 430px;
		margin-left: -150px;
		top: 25px;
	}

	#job-card{
		display: block;
		float: left;
		clear: both;
		width: 100%;
		height: 312px;
		background-color: #fafafa;
		box-shadow: 0 10px 30px 0 rgba(0,0,0,0.35);
		overflow: hidden;
	}

	#job-map{
		height: 101px;
	}

	#job-map .fold{
		width: 100px;
		height: 101px;
	}

	#job-map .fold.center{
		width: 100px;
	}

	#job-map img{
		width: 292px;
	}

	#job-logo{
		width: 55px;
		height: 55px;
		margin: -27px 0 0 123px;
		background-size: 35px auto;
	}

	#job-logo img{
		width: 55px;
		height: 55px;
	}

	#job-details{
		height: 120px;
	}

	#job-details:after{
		bottom: 0;
		clip: rect(30px,292px,60px,0px)
	}

	#job-title{
		text-align: center;
		font-size: 30px;
		line-height: 45px;
	}

	#job-restaurant{
		font-size: 12px;
		line-height: 14px;
	}

	#job-address{
		font-size: 12px;
		line-height: 14px;
	}

	#job-apps{
		height: 80px;
		margin: 0 3px;
	}

	#job-message{
		width: 100%;
		margin: 12px 0;
		font-size: 10px;
		line-height: 14px;
	}

	#job-apps #google-play,
	#job-apps #app-store{
		width: 80px;
		height: 27px;
		margin: 0 20px 0 59px;
		background-size: 80px auto;
	}

	#job-apps #app-store{
		margin: 0;
	}

	#job-apps.mobile #google-play,
	#job-apps.mobile #app-store{
		margin: 0 0 0 108px;
	}

	#job-footer{
		height: 70px;
	}

	#job-footer #hsp-logo{
		width: 100%;
		height: 48px;
		background-size: 114px auto;
	}

	#job-footer #footer-links a{
		font-size: 10px;
		line-height: 14px;
		margin-top: 15px;
	}

	#job-footer #footer-links a:first-child{
		margin-left: 74px;
	}

	#job-footer #footer-links a:last-child{
		clear: both;
		width: 100%;
		margin: 8px 0 0 0;
		text-align: center;
		float: right;
		line-height: 14px;
	}

	#job-footer #footer-links a:hover{
		color: #ffffff;
	}
}