a{
	color: #3e92ce;
	text-decoration: underline;
	transition: all 500ms;
}

a:hover{
	color: #1c70ac;
}

button{
	margin: 0;
	padding: 6px 14px 7px 14px;
	font-size: 13px;
	line-height: 15px;
	border-radius: 3px;
	border: 1px solid #d0d4da;
	background-color: #f4f6f7;
}

button:hover{
	background-color: #ededed;
}

button.primary{
	color: #ffffff;
	border: 1px solid #0b6f9b;
	background-color: #3e92ce;
}

button.primary:hover{
	background-color: #2d81bd;
}





#brushfire{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.app{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#app-head{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 40px;
	overflow: hidden;
}

.heading{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	font-weight: lighter;
	white-space: nowrap;
	overflow: hidden;
	background-color: rgba(56,69,76, 0.8);
}

.navigation{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #39454c;
}


#nav-logo{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background-image: url("../images/logo-hsj-80-white.png");
	background-position: center;
	background-size: 24px auto;
	background-repeat: no-repeat;
}

#nav-button{
	display: none;
	float: left;
	padding: 0 10px 0 0;
	line-height: 40px;
	font-size: 14px;
	color: #e2e2e2;
	text-transform: capitalize;
	background-image: url("../images/icon-nav-pointer.png");
	background-position: right 26px;
	background-repeat: no-repeat;
	background-size: 4px 4px;
}

#nav-menu{
	display: block;
	float: left;
}

#nav-menu li{
	display: block;
	float: left;
	margin: 0 10px;
	line-height: 40px;
	font-size: 14px;
	color: #e2e2e2;
}

#nav-menu li:hover{
	color: #ffffff;
}

@media screen and (max-width: 600px){
	#nav-button{
		display: block;
	}

	#nav-menu{
		position: absolute;
		display: none;
		top: 40px;
		left: 20px;
	}

	#nav-menu li{
		clear: both;
		width: 120px;
		text-indent: 14px;
		background-color: #39454c;
	}
}

#nav-icons{
	display: block;
	float: right;
}

#nav-icons li{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin: 5px 0px;
}

#nav-icons li#messages{
	background-image: url("../images/icon-messages.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px auto;
}

#nav-icons li#settings{
	background-image: url("../images/icon-settings.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px auto;
}






#app-body{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: calc(100% - 40px);
	overflow: hidden;
}

.content {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#sub-nav{
	display: block;
	float: left;
	width: 100%;
	height: 30px;
	background-color: #eceff2;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}

#breadcrumb{
	display: block;
	float: left;
}

#breadcrumb li{
	display: block;
	float: left;
	color: #6e7f80;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	text-shadow: 0 1px 0 #fff;
	text-transform: capitalize;
	padding: 0 5px 0 10px;
}

#breadcrumb li:last-child{
	color: #2d3c4b;
}

#toolbar{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 20px);
	height: 30px;
	margin: 20px 10px;
}

#toolbar button{
	display: block;
	float: left;
	margin: 0 5px 0 0;
}

#toolbar #archive-candidates{
	display: none;
}





#toast{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 30px;
	top: -50px;
	line-height: 30px;
	text-align: center;
	font-weight: lighter;
	font-size: 16px;
	color: #e6e6e6;
	background-color: rgba(0,0,0,0.8);
	white-space: nowrap;
	overflow: hidden;

	-webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -o-transition: top 500ms;
    -ms-transition: top 500ms;
    transition: top 500ms;
}

#toast.show{
	top: 0;
}

@media screen and (max-width: 640px){
	#toast{
		font-size: 14px;
	}
}