a{
	color: #3e92ce;
	text-decoration: underline;
	transition: all 500ms;
}

a:hover{
	color: #1c70ac;
}

button{
	margin: 0;
	padding: 6px 14px 7px 14px;
	font-size: 13px;
	line-height: 15px;
	border-radius: 3px;
	border: 1px solid #d0d4da;
	background-color: #f4f6f7;
	text-transform: lowercase;
}

button:first-letter{
	text-transform: capitalize;
}

button:hover{
	background-color: #ededed;
}

button.primary{
	color: #ffffff;
	border: 1px solid #0b6f9b;
	background-color: #3e92ce;
}

button.primary:hover{
	background-color: #2d81bd;
}

label{
	font-weight: bold;
	color: #626970;
}

textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"]{
	width: 100%;
	margin: 3px 7px 2px 0;
	padding: 6px 9px 5px;
	font-size: 14px;
	line-height: 14px;
	background: #fff;
	border: 1px solid #c4c6c6;
	border-top-color: #a8a9aa;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #f0f0f0, 0 0 0 1px rgba(255,255,255, 0.5);
	cursor: text;
}

textarea:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="number"]:hover,
input[type="password"]:hover{
	border: 1px solid #4ea6e5;
	
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="password"]:focus{
	border: 1px solid #1e8dc6;
	border-top-color: #327cc7;
	border-bottom-color: #4ea6e5;
}

textarea[disabled],
textarea[disabled]:hover,
input[type="text"][disabled],
input[type="text"][disabled]:hover,
input[type="email"][disabled],
input[type="email"][disabled]:hover,
input[type="url"][disabled],
input[type="url"][disabled]:hover,
input[type="number"][disabled],
input[type="number"][disabled]:hover,
input[type="password"][disabled],
input[type="password"][disabled]:hover{
	background-color: #f0f2f3;
	border: 1px solid #c4c6c6;
	border-top-color: #a8a9aa;
	color: #959ba2;
	box-shadow: inset 0 1px 0 0 #e2e4e5, 0 0 0 1px #fff;
	cursor: default;
}

textarea.error,
input[type="text"].error,
input[type="email"].error,
input[type="url"].error,
input[type="number"].error,
input[type="password"].error{
	color: #bf2b1b;
	border: 1px solid #bf2b1b;
}

textarea.error:hover,
input[type="text"].error:hover,
input[type="email"].error:hover,
input[type="url"].error:hover,
input[type="number"].error:hover,
input[type="password"].error:hover,
input[type="text"].error:focus,
input[type="email"].error:focus,
input[type="url"].error:focus,
input[type="number"].error:focus,
input[type="password"].error:focus{
	border: 1px solid #ff4040;
}

.custom-select button{
	display: block;
	float: left;
	clear: both;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 6px 20px 7px 8px;
	background-image: url("../images/icon-select-pointer.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 8px;
}

.custom-select ul{
	position: relative;
	display: none;
	float: left;
	clear: both;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #d0d4da;
	background-color: #f4f6f7;
	z-index: 999;
}

.custom-select ul.show{
	display: block;
}

.custom-select ul li{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	line-height: 24px;
	text-indent: 10px;
	padding: 0 16px 0 0;
	text-transform: capitalize;
}

.custom-select ul li:hover{
	color: #ffffff;
	background-color: #3e92ce;
}

.rbc-logo{
	position: absolute;
	display: block;
	float: left;
	bottom: 18px;
	left: 50%;
	margin: 0 0 0 -80px;
	width: 160px;
	height: 45px;
	background-image: url("../images/logo-rbc.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 160px 45px;
}

@media screen and (max-height: 650px){
	.rbc-logo{
		display: none;
	}
}


#brushfire{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	min-width: 320px;
	height: 100%;
	overflow: hidden;
}

.app{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.app.background{
	background-image: url("../images/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#app-head{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 40px;
	overflow: hidden;
}

.heading{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	font-weight: lighter;
	white-space: nowrap;
	overflow: hidden;
	background-color: rgba(0,153,204, 0.8);
}

.navigation{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #39454c;
}


#nav-logo{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background-image: url("../images/logo-bf-80-white.png");
	background-position: center;
	background-size: 24px auto;
	background-repeat: no-repeat;
}

#nav-button{
	display: none;
	float: left;
	padding: 0 10px 0 0;
	line-height: 40px;
	font-size: 14px;
	color: #e2e2e2;
	text-transform: capitalize;
	background-image: url("../images/icon-nav-pointer.png");
	background-position: right 26px;
	background-repeat: no-repeat;
	background-size: 4px 4px;
}

#nav-menu{
	display: block;
	float: left;
}

#nav-menu li{
	display: block;
	float: left;
	margin: 0 10px;
	line-height: 40px;
	font-size: 14px;
	color: #e2e2e2;
}

#nav-menu li:hover{
	color: #ffffff;
}

@media screen and (max-width: 600px){
	#nav-button{
		display: block;
	}

	#nav-menu{
		position: absolute;
		display: none;
		top: 40px;
		left: 20px;
	}

	#nav-menu li{
		clear: both;
		width: 120px;
		text-indent: 14px;
		background-color: #39454c;
	}
}

#nav-icons{
	display: block;
	float: right;
}

#nav-icons li{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin: 5px 0px;
}

#nav-icons li#messages{
	background-image: url("../images/icon-messages.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px auto;
}

#nav-icons li#settings{
	background-image: url("../images/icon-settings.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px auto;
}






#app-body{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: calc(100% - 40px);
	overflow: hidden;
}

.content {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#sub-nav{
	display: block;
	float: left;
	width: 100%;
	height: 30px;
	background-color: #eceff2;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}

#breadcrumb{
	display: block;
	float: left;
}

#breadcrumb li{
	display: block;
	float: left;
	color: #6e7f80;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	text-shadow: 0 1px 0 #fff;
	text-transform: capitalize;
	padding: 0 5px 0 10px;
}

#breadcrumb li:last-child{
	color: #2d3c4b;
}

#toolbar{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 20px);
	height: 30px;
	margin: 20px 10px;
}

#toolbar button{
	display: block;
	float: left;
	margin: 0 5px 0 0;
}

#toolbar #archive-candidates{
	display: none;
}





#toast{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 30px;
	top: -50px;
	line-height: 30px;
	text-align: center;
	font-weight: lighter;
	font-size: 16px;
	color: #e6e6e6;
	background-color: rgba(0,0,0,0.8);
	white-space: nowrap;
	overflow: hidden;

	-webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -o-transition: top 500ms;
    -ms-transition: top 500ms;
    transition: top 500ms;
}

#toast.show{
	top: 0;
}

@media screen and (max-width: 640px){
	#toast{
		font-size: 14px;
	}
}