.grid-list-head{
	display: block;
	float: left;
	clear: both;
	width: calc(100% - 20px);
	margin: 0 0 0 10px;	
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
}

ul.grid-list{
	display: block;
	float: left;
	width: calc(100% - 20px);
	margin: 0 10px 20px 10px;
	border-top: 1px dotted #bbbbbb;
}

ul.grid-list.sub{
	display: block;
	width: 100%;
	height: 0;
	margin: 0;
	opacity: 0;
	background-color: #ffffff;
	overflow: hidden;
	-webkit-transition: all 500ms;
	   -moz-transition: all 500ms;
	     -o-transition: all 500ms;
	        transition: all 500ms;
}

ul.grid-list.sub.show{
	opacity: 1;
	height: auto;
	margin: 0 0 5px 0;
}

ul.grid-list > li{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	/*border-top: 1px dotted #ffffff;*/
	border-bottom: 1px dotted #bbbbbb;
	overflow: hidden;
}

ul.grid-list > li:hover{
	background-color: #f7fafc;
}

ul.grid-list > li.faded{
	opacity: 0.5;
}

ul.grid-list > li.expanded{
	opacity: 1;
	background-color: #f7fafc;
	border-top: 1px solid #c4d6e6;
	border-bottom: 1px solid #c4d6e6;
}

ul.grid-list > li.expanded:hover{
	background-color: #f7fafc;
}


ul.grid-list > li.foot{
	height: 24px;
}

ul.grid-list > li.foot:hover{
	background-color: #ffffff;
}

ul.grid-list > li.foot a{
	display: block;
	float: left;
	margin: 0 5px 0 10px;
	line-height: 24px;
	font-size: 12px;
}


ul.grid-list > li .job-info{
	display: block;
	float: left;
	margin: 5px 0;
	width: 180px;
	height: 40px;
	border-right: 1px dotted #bbbbbb;
}

ul.grid-list > li .job-info .job-name{
	display: block;
	float: left;
	clear: both;
	margin: 0 0 0 5px;
	width: 160px;
	color: #2d3c4b;
	font-size: 14px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

ul.grid-list > li .job-info .job-name.new{
	font-weight: bold;
}

ul.grid-list > li .job-info .job-shift{
	display: block;
	float: left;
	clear: both;
	margin: 0 0 0 5px;
	width: 160px;
	color: #959ba2;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media screen and (max-width: 550px){
	ul.grid-list > li .job-info{
		border-right: none;
		width: 190px;

	}

	ul.grid-list li .job-info .job-name,
	ul.grid-list li .job-info .job-shift{
		width: 190px;
	}
}

ul.grid-list > li .candidates-info{
	display: block;
	float: left;
	margin: 5px 0;
	width: 264px;
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px dotted #bbbbbb;
}

@media screen and (max-width: 550px){
	ul.grid-list > li .candidates-info{
		display: none;
	}
}

ul.grid-list > li .candidates-info .candidates-list{
	display: block;
	float: left;
	width: 180px;
	margin: 0 0 0 5px;
	overflow: hidden;
}

ul.grid-list > li .candidates-info .candidates-list li{
	display: block;
	float: left;
	clear: none;
	width: 38px;
	height: 38px;
	margin: 0 0 0 4px;
	border-radius: 20px;
	background-color: #fafbfc;
	border: 1px solid #e5e5e5;
	background-image: url("../images/default-avatar.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px auto;
	overflow: hidden;
}

ul.grid-list > li .candidates-info .candidates-list li.new{
	border: 1px solid #3e92ce;
}

ul.grid-list > li .candidates-info .candidates-list li img{
	width: 40px;
	height: 40px;
}

ul.grid-list > li .candidates-info .more{
	display: block;
	float: left;
	margin: 0 10px;
	line-height: 42px;
	color: #969ba2;
}

ul.grid-list > li .candidates-info .more.new{
	font-weight: bold;
	color: #3e92ce;
}

ul.grid-list > li .share-info{
	display: block;
	float: left;
	margin: 5px 0;
	width: 110px;
	height: 40px;
	line-height: 42px;
	color: #969ba2;
	font-size: 12px;
	text-indent: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-right: 1px dotted #bbbbbb;
	background-image: url("../images/icon-share.png");
	background-repeat: no-repeat;
	background-position: 15px 10px;
	background-size: auto 20px;
}

@media screen and (max-width: 800px){
	ul.grid-list > li .share-info{
		display: none;
	}
}

ul.grid-list > li .posted-info{
	display: block;
	float: left;
	margin: 5px 0;
	width: 130px;
	height: 40px;
	line-height: 40px;
	color: #2d3c4b;
	font-size: 12px;
	text-indent: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul.grid-list > li .posted-info.new{
	font-weight: bold;
}

@media screen and (max-width: 900px){
	ul.grid-list > li .posted-info{
		display: none;
	}
}

ul.grid-list > li .job-actions{
	display: block;
	float: right;
	margin: 5px 0;
	width: 160px;
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
}

ul.grid-list > li .job-actions button{
	margin: 5px;
	float: right;
}

@media screen and (max-width: 640px){
	ul.grid-list > li .job-actions{
		width: 70px;
	}

	ul.grid-list > li .job-actions button:first-child{
		display: none;
	}
}

ul.grid-list > li .candidate-select{
	display: block;
	float: left;
	margin: 18px 5px 0 10px;
}

@media screen and (max-width: 510px){
	ul.grid-list > li .candidate-select{
		display: none;
	}
}

ul.grid-list > li .candidate-picture{
	display: block;
	float: left;
	clear: none;
	width: 38px;
	height: 38px;
	margin: 5px 0 0 4px;
	border-radius: 20px;
	background-color: #fafbfc;
	border: 1px solid #e5e5e5;
	background-image: url("../images/default-avatar.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px auto;
	overflow: hidden;
}

ul.grid-list > li .candidate-picture img{
	width: 40px;
	height: 40px;
}


ul.grid-list > li .candidate-info{
	display: block;
	float: left;
	margin: 5px 0;
	width: 210px;
	height: 40px;
	border-right: 1px dotted #bbbbbb;
}

ul.grid-list > li .candidate-info .candidate-name{
	display: block;
	float: left;
	clear: both;
	margin: 0 0 0 5px;
	width: 160px;
	color: #2d3c4b;
	font-size: 14px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul.grid-list > li .candidate-info .candidate-name.new{
	font-weight: bold;
}

ul.grid-list > li .candidate-info .candidate-job{
	display: block;
	float: left;
	clear: both;
	margin: 0 0 0 5px;
	width: 160px;
	color: #959ba2;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

@media screen and (max-width: 800px){
	ul.grid-list > li .candidate-info{
		border-right: none;
		width: 155px;

	}

	ul.grid-list > li .candidate-info .candidate-name,
	ul.grid-list > li .candidate-info .candidate-job{
		width: 155px;
	}
}

ul.grid-list > li .candidate-referral{
	display: block;
	float: left;
	margin: 5px 0;
	width: 270px;
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
}

ul.grid-list > li .candidate-referral .date{
	display: block;
	float: left;
	max-width: 80px;
	height: 40px;
	line-height: 40px;
	color: #2d3c4b;
	font-size: 12px;
	text-indent: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul.grid-list > li .candidate-referral .date.new{
	font-weight: bold;
}

ul.grid-list > li .candidate-referral .referred-by{
	display: block;
	float: left;
	width: 190px;
	height: 40px;
	line-height: 40px;
	color: #2d3c4b;
	font-size: 12px;
	text-indent: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul.grid-list > li .candidate-referral .referred-by .picture{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-indent: 0;
	margin: 8px 0 0 4px;
	border-radius: 10px;
	background-color: #fafbfc;
	border: 1px solid #e5e5e5;
	background-image: url("../images/default-avatar.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px auto;
	overflow: hidden;
}

ul.grid-list > li .candidate-referral .referred-by .picture img{
	width: 20px;
	height: 20px;
}

ul.grid-list > li .candidate-referral .referred-by .name{
	display: block;
	float: left;
	width: 160px;
	height: 40px;
	line-height: 40px;
	color: #2d3c4b;
	font-size: 12px;
	text-indent: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media screen and (max-width: 960px){
	ul.grid-list > li .candidate-referral{
		display: none;
	}
}

ul.grid-list > li .candidate-message{
	display: block;
	float: right;
	margin: 5px 0;
	width: 40px;
	height: 40px;
	background-image: url("../images/icon-message.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px auto;
	overflow: hidden;
}

ul.grid-list > li .candidate-message:hover{
	background-image: url("../images/icon-message-hover.png");
}

ul.grid-list > li .candidate-archive{
	display: block;
	float: right;
	margin: 5px 0;
	width: 40px;
	height: 40px;
	background-image: url("../images/icon-archive.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px auto;
	overflow: hidden;
}

ul.grid-list > li .candidate-archive:hover{
	background-image: url("../images/icon-archive-hover.png");
}

ul.grid-list > li .candidate-unarchive{
	display: block;
	float: right;
	margin: 5px 0;
	width: 40px;
	height: 40px;
	background-image: url("../images/icon-unarchive.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px auto;
	overflow: hidden;
}

ul.grid-list > li .candidate-unarchive:hover{
	background-image: url("../images/icon-unarchive-hover.png");
}

ul.grid-list > li .candidate-endorse{
	display: block;
	float: right;
	margin: 5px 0;
	width: 60px;
	height: 40px;
	line-height: 42px;
	color: #969ba2;
	font-size: 12px;
	text-indent: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-image: url("../images/icon-endorsements.png");
	background-repeat: no-repeat;
	background-position: 15px 10px;
	background-size: auto 20px;
}

@media screen and (max-width: 400px){
	ul.grid-list > li .candidate-endorse{
		display: none;
	}
}

ul.grid-list > li .candidate-network{
	display: block;
	float: right;
	margin: 5px 0;
	width: 100px;
	height: 40px;
	line-height: 42px;
	color: #969ba2;
	font-size: 12px;
	text-indent: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-image: url("../images/icon-network-gray.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 40px auto;
}

ul.grid-list > li .candidate-network.has-connections{
	background-image: url("../images/icon-network.png");
}

ul.grid-list > li .candidate-network span{
	font-weight: bold;
	color: #a9a9a9;
}

ul.grid-list > li .candidate-network.has-connections,
ul.grid-list > li .candidate-network.has-connections span{
	color: #2d3c4b;
}

@media screen and (max-width: 500px){
	ul.grid-list > li .candidate-network{
		display: none;
	}
}

ul.grid-list > li .count{
	display: none;
	float: right;
	margin: 14px 0;
	min-width: 20px;
	height: 20px;
	line-height: 20px;
	color: #888888;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius: 20px;
	background-color: #fafbfc;
	text-align: center;
	border: 1px solid #bbbbbb;
}

ul.grid-list > li .count.new{
	color: #3e92ce;
	border: 1px solid #3e92ce;
}

@media screen and (max-width: 550px){
	ul.grid-list > li .count{
		display: block;
	}
}

ul.grid-list > li .candidate-rating{
	display: block;
	float: right;
	width: 106px;
	height: 20px;
	margin: 14px 10px;
	overflow: hidden;
	background-image: url("../images/icon-stars.png");
	background-repeat: no-repeat;
	background-position: -110px 0;
	background-size: auto 20px;
	white-space: nowrap;
}

ul.grid-list > li .candidate-rating.five{
	background-position: 0 0;
}

ul.grid-list > li .candidate-rating.four{
	background-position: -22px 0;
}

ul.grid-list > li .candidate-rating.three{
	background-position: -44px 0;
}

ul.grid-list > li .candidate-rating.two{
	background-position: -66px 0;
}

ul.grid-list > li .candidate-rating.one{
	background-position: -88px 0;
}

@media screen and (max-width: 700px){
	ul.grid-list > li .candidate-rating{
		display: none;
	}
}

/* Overrides */

.wage-type button.custom-select-button{
	text-transform: lowercase;
}

.wage-type button.custom-select-button:first-letter{
	text-transform: capitalize;
}



/* SUPPORT STYLES */
ul.grid-list.support > li input[type="radio"]{
	display: block;
	float: left;
	margin: 20px 10px;
}

ul.grid-list.support > li .photo{
	display: block;
	float: left;
	clear: none;
	width: 38px;
	height: 38px;
	margin: 5px 5px 0 0;
	border-radius: 20px;
	background-color: #fafbfc;
	border: 1px solid #e5e5e5;
	background-image: url("../images/default-avatar.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px auto;
	overflow: hidden;
}

ul.grid-list.support > li .info{
	display: block;
	float: left;
}

ul.grid-list.support > li .info .name{
	display: block;
	float: left;
	font-weight: bold;
	font-size: 14px;
	margin: 8px 0 2px 4px;
}

ul.grid-list.support > li .info .employer{
	display: block;
	float: left;
	color: #999999;
	font-size: 14px;
	margin: 8px 0 2px 4px;
}

ul.grid-list.support > li .info .email{
	display: block;
	float: left;
	clear: both;
	margin: 0 4px;
}

ul.grid-list.support > li button{
	display: block;
	float: right;
	margin: 10px;
}

ul.grid-list.support > li.no-result{
	line-height: 50px;
	text-indent: 20px;
	font-weight: bold;
}